.about {
    background-image: url("../img/aboutcard-image.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 50vh;
     width: 100%;
    /* margin-bottom: 80px;  */
  }
  .about .heading {
    text-align: left;
    width: 100%;
    margin-bottom: 400px;
  }
  .about p {
    font-size: 20px;
    padding-right: 40px;
    margin-bottom: 40px;
    line-height: 30px;
  }
  @media screen and (max-width: 768px) {
    .about .container {
      flex-direction: column;
    }
    .about p {
      padding: 0;
    }
    .about .container img {
      margin-top: 30px;
    }
  }
  .awrapper {
    background-image: url("../img/about-background.jpg");
    /* background-image: url("../../../public/images/awrapper.webp"); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 90vh;
    color: #fff;
    margin-top: 420px;
  }
  .awrapper .box {
    padding: 30px 0;
    
  }
  .awrapper img {
    margin-right: 30px;
    vertical-align: middle;
  }
  .awrapper h1 {
    font-size: 50px;
  }
  .awrapper h3 {
    font-size: 20px;
    font-weight: 500;
  }
  /*----------awrapper------------*/
  @media screen and (max-width: 768px) {
    .aboutHome .container {
      flex-direction: column-reverse;
    }
    .aboutHome .row {
      width: 100%;
    }
    .awrapper {
      height: 50vh;
    }
  }
  