@import url('https://fonts.googleapis.com/css2?family=Prompt&display=swap');

* {
  font-family: 'Prompt', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

}

#root {
  width: 95%;
}

#root>* {
  margin-bottom: .5vw;
}

/* Navbar ========================================================== */

.navbar {
  background-color: rgba(6, 106, 188, 0);
  width: 100%;
  height: 5vw;
  font-size: 1.8vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: .3vw solid grey;
}

.navbar>a {
  text-decoration: none;
  color: black;

}

.navbar>a:hover {
  color: #FF033E;
  text-decoration: overline;

}

.navbar>span {
  width: 20%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  font-size: 3vw;
  font-weight: 600;
  letter-spacing: .3vw;

}

.navbar>button {
  width: 14%;
  height: 80%;
  color: white;
  border: thin solid transparent;
  background-color: #FF033E;
  border-top-right-radius: 2vw;
  border-bottom-left-radius: 2vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  text-decoration: none;
}

.navbar>button>a {
  color: white;
  font-size: 2vw;
  letter-spacing: .2vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  text-decoration: none;
}

.navbar>button>a :hover {
  text-decoration: none;
  list-style: none;
}

body {
  background-color: #f9edd8;
}

/* Authentication form ================================================= */

.Auth-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.Auth-form {
  width: 420px;
  box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
  padding-top: 30px;
  padding-bottom: 20px;
  border-radius: 8px;
  background-color: white;
}

.Auth-form-content {
  padding-left: 12%;
  padding-right: 12%;
}

.Auth-form-title {
  text-align: center;
  margin-bottom: 1em;
  font-size: 24px;
  color: rgb(34, 34, 34);
  font-weight: 800;
}

label {
  font-size: 14px;
  font-weight: 600;
  color: rgb(34, 34, 34);

}


.homeparent {
  margin: auto;
  width: 80%;
  padding-top: 60px;
  width: 90%;
  text-align: center;
  justify-content: space-between;
}

.homeparent h1 {
  font-size: 60px;
  font-family: 'Poppins', sans-serif;

}


.page {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

.page img {
  height: 500px;
  width: 500px;
  border-radius: 5px 90px;

}

.page ul {
  list-style: none;
  justify-content: space-between;
  /* display: flex; */
  padding: 30px;
}

.page ul li {
  display: flex;
  display: inline;
  padding: 14px;
}

.page button {
  border-radius: 5px 25px;
  height: 60px;
}

.page p {
  padding-top: 30px;
  font-size: 25px;
  font-weight: 400;
}

/* Landing page ========================================================= */

.main_section1 {
  width: 100%;
  height: 40vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;

}

.main_image {
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;

}

.main_image>img {
  background-color: #FF033E;
  width: 90%;
  height: 73%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  border-top-right-radius: 7vw;
  border-bottom-left-radius: 7vw;
  color: white;
  font-size: 1.5vw;
}

.main_content {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.main_content>* {
  margin-bottom: 1vw;
}

.main_content>button {
  width: 35%;
  height: 12%;
  color: #ffffff;
  background-color: #FF033E;
  border-top-right-radius: 2.5vw;
  border-bottom-left-radius: 2.5vw;
  color: white;
  font-size: 2vw;
  letter-spacing: .2vw;
  border: thin solid transparent;
  cursor: pointer;

}

.main_content>#span1 {
  width: 100%;
  height: max-content;
  padding-top: 2%;
  padding-bottom: 2%;
  text-align: center;
  font-size: 4vw;
  font-weight: bold;

}

.main_content>#span2 {
  width: 100%;
  height: 12%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.main_content>#span2>span {
  width: 25%;
  height: 80%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.main_content>#span2>span>img {
  width: 35%;
  height: 100%;
  font-size: .5vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;

}

.main_content>#span2>span>p {
  width: 65%;
  height: 100%;
  font-size: 1.5vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;

}

.main_content>#span3 {
  width: 60%;
  font-size: 1.7vw;
  height: max-content;
  padding-top: 2%;
  padding-bottom: 2%;
  letter-spacing: .03vw;
  text-align: justify;
}

/* scetion 2 */

.main_section2 {
  margin-top: 1vw;
  width: 100%;
  height: 17.5vw;
  border: thin solid #2E1807;
  margin-bottom: 1vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

}

.main_section2>div {
  width: 33%;
  height: 100%;
  background-color: #2E1807;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

}

.main_section2>div>span {
  width: 90%;
  height: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.main_section2>div>span>span {
  width: 30%;
  height: 90%;
  background-color: white;
  border-top-right-radius: 2vw;
  border-bottom-left-radius: 2vw;
}

#color1 {
  background-color: #FF4500;
}

#color2 {
  background-color: #FFFF00;

}

#color3 {
  background-color: #3FFF00;

}

.main_section2>div>span>p {
  width: 70%;
  height: 90%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  font-size: 6vw;
  font-weight: bold;
  color: white;
}

.main_section2>div>span {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 3vw;
  font-weight: bold;
  color: white;
}


/* Lecturer  section ==================================================== */

#lecturer {
  border: thin solid black;
  width: 100%;
  height: 55.3vw;
  margin-bottom: 1vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

#lecturer>* {
  border: thin solid black;
}

#lecturer>aside {
  width: 25%;
  height: 100%;

}

#lecturer>section {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

#courses {
  width: 100%;
  height: 50%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.course_item,
.student_item {
  box-shadow: .1vw .1vw .5vw grey;
}

#courses>.title {
  width: 100%;
  height: 15%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#courses>.title>span {
  margin-left: .5vw;
  font-size: 3vw;
  font-weight: 700;
  letter-spacing: .2vw;
}


#courses>.title>form {
  text-align: center;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 40%;
  height: 90%;
  font-size: 1.5vw;
  border: #FF033E .2vw solid;
}

#courses>.title>form>input {
  width: 70%;
  height: 100%;
  border: #FF033E .2vw solid;
  text-align: center;

}

input:focus {
  outline: none;
}

#courses>.title>form>button {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  border: none;
  background-color: #FF033E;
  color: white;

}

#courses>.course_list {
  width: 100%;
  height: 85%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: white;

}

.course_item {
  width: 95%;
  height: 25%;

  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  background-color: #f9edd8;
}


.course_item>img {
  width: 15%;
  height: 100%;
  font-size: 1.5vw;
}

.course_item>span {
  height: 100%;
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.course_item>span>span {
  width: 100%;
  height: 50%;
  font-size: 1.8vw;
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  overflow: hidden;
}

.course_item>span>.pppp {
  font-size: 1.5vw;
}


.course_item>button {
  font-size: 1.5vw;
  width: 15%;
  height: 55%;
  border: none;
  background-color: #FF033E;
  color: white;
  font-size: 1.7vw;
  letter-spacing: .2vw;
  border-bottom-left-radius: 1vw;
  border-top-right-radius: 1vw;

}

#courses>.course_list>.view_button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  font-size: 1.7vw;
  font-weight: bold;
  letter-spacing: .2vw;
  border-radius: 2vw;
  width: 25%;
  height: 15%;
  border: thin solid transparent;
  background-color: #FF033E;
  color: white;
}

/* students */

#students {
  width: 100%;
  height: 50%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}


#students>.title {
  width: 100%;
  height: 15%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#students>.title>span {
  margin-left: .5vw;
  font-size: 3vw;
  font-weight: 700;
  letter-spacing: .2vw;
}

#students>.title>form {
  text-align: center;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 40%;
  height: 90%;
  font-size: 1.5vw;
  border: #FF033E .2vw solid;
}

#students>.title>form>input {
  width: 70%;
  height: 100%;
  border: #FF033E .2vw solid;
  text-align: center;
}

input:focus {
  outline: none;
}

#students>.title>form>button {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  border: none;
  background-color: #FF033E;
  color: white;

}

#students>.student_list {
  width: 100%;
  height: 85%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: white;
}


.student_item {
  width: 95%;
  height: 25%;

  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  background-color: #f9edd8;
}


.student_item>img {
  width: 15%;
  height: 100%;
  font-size: 1.5vw;
}

.student_item>span {
  height: 100%;
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.student_item>span>span {
  width: 100%;
  height: 50%;
  font-size: 1.8vw;
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  overflow: hidden;
}

.student_item>span>.pppp {
  font-size: 1.5vw;
}


.student_item>button {
  font-size: 1.5vw;
  width: 15%;
  height: 55%;
  border: none;
  background-color: #FF033E;
  color: white;
  font-size: 1.7vw;
  letter-spacing: .2vw;
  border-bottom-left-radius: 1vw;
  border-top-right-radius: 1vw;

}

#students>.student_list>.view_button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  font-size: 1.7vw;
  font-weight: bold;
  letter-spacing: .2vw;
  border-radius: 2vw;
  width: 25%;
  height: 15%;
  border: thin solid transparent;
  background-color: #FF033E;
  color: white;
}

/* Aside  Lecturer======================================= */

#main_lecturer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: 1.5vw;
}

#main_lecturer>* {
  margin-bottom: 1.5vw;
}

#main_lecturer>span {
  width: 90%;
  height: 7%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding-left: 2%;
  background-color: white;
  box-shadow: .1vw .1vw .5vw grey;
  font-size: 1.7vw;
  font-weight: 200;

}

#main_lecturer>img {
  width: 50%;
  height: 22%;
  background-color: white;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#main_student {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: 1.5vw;
}

#main_student>* {
  margin-bottom: 1.5vw;
}

#main_student>span {
  width: 90%;
  height: 7%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding-left: 2%;
  background-color: white;
  box-shadow: .1vw .1vw .5vw grey;
  font-size: 1.7vw;
  font-weight: 200;

}

#main_student>img {
  width: 50%;
  height: 22%;
  background-color: white;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* #lecturer_name {}

#lecturer_course {}

#student_number {}

#date_joined {}

#average_grade {} */
.column {
  display: flex;
  width: 60% auto;
  justify-content: space-between;
  padding-top: 40px;
  ;
  text-align: center;
  color: white;
  margin-left: 25%;
  margin-right: 25%;
}

#column_li {
  border: 1px solid;
  background-color: rgb(23, 11, 11);
  width: 30%;
  ;
}
